// sidebar

.sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 5;
    background-color: $gray-100;
    border-right: 1px solid $gray-200;
    .nav-menu {
        padding:rem(10);
        .link-items {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(34);
            height: rem(34);
            span {
                font-size:0;
            }
            .ico {
                width: rem(24);
                height: rem(24);
                mask-size: contain;
                background-color: $gray-500;
                &.active {
                    background-image: linear-gradient( to bottom, #3D87FE, #0461FD);
                }
            }
            &.active {
                background-color: $white;
                border-radius: 50%;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
            }
        }
        .items {
           & + .items {
            border-top: 1px solid rgba(0,0,0,0.12);
            padding-top: rem(16);
            margin-top: rem(16);
           }
        }
    }
}

.sidebar-sub {
    position: fixed;
    top:0;
    left:rem(55);
    width:rem(246);
    height:100%;
    padding: rem(20) rem(14);
    z-index: 3;
    background-color: $white;
    border-right: 1px solid $gray-200;
    background-color: $white;
    transition: 0.3s all cubic-bezier(.4, 0, .2, 1);
    transform: translateX(-100%);
    &.active {
        transform: translateX(0);
    }
    .title {
        font-size: rem(14);
        font-weight: 600;
        color: $gray-800;
        line-height: rem(20);
        margin-bottom:rem(16);
    }
    .nav-sub{
        .link-items{
            display: flex;
            align-items: center;
            gap: 8px;
            font-size:rem(14);
            line-height: rem(16);
            color:$black;
            border-radius: rem(8);
            padding:rem(10) rem(6);
            .ico {
                width:rem(20);
                height:rem(20);
                background-color: $gray-500;
                &.nav {
                    mask-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M18.125 6.75V13.6945C18.125 13.8419 18.0665 13.9831 17.9623 14.0873C17.8581 14.1915 17.7169 14.25 17.5695 14.25H15.625V9.25C15.625 9.08424 15.5592 8.92527 15.4419 8.80806C15.3247 8.69085 15.1658 8.625 15 8.625H9.375L7.04141 6.875C6.93322 6.79386 6.80164 6.75 6.66641 6.75H5V4.875C5 4.70924 5.06585 4.55027 5.18306 4.43306C5.30027 4.31585 5.45924 4.25 5.625 4.25H9.16641C9.30164 4.25 9.43322 4.29386 9.54141 4.375L11.875 6.125H17.5C17.6658 6.125 17.8247 6.19085 17.9419 6.30806C18.0592 6.42527 18.125 6.58424 18.125 6.75Z' fill='%23343330'/%3E%3Cpath d='M17.5 5.5H12.0836L9.91641 3.875C9.69972 3.71332 9.43676 3.62567 9.16641 3.625H5.625C5.29348 3.625 4.97554 3.7567 4.74112 3.99112C4.5067 4.22554 4.375 4.54348 4.375 4.875V6.125H3.125C2.79348 6.125 2.47554 6.2567 2.24112 6.49112C2.0067 6.72554 1.875 7.04348 1.875 7.375V16.125C1.875 16.4565 2.0067 16.7745 2.24112 17.0089C2.47554 17.2433 2.79348 17.375 3.125 17.375H15.0695C15.3825 17.3746 15.6825 17.2501 15.9038 17.0288C16.1251 16.8075 16.2496 16.5075 16.25 16.1945V14.875H17.5695C17.8825 14.8746 18.1825 14.7501 18.4038 14.5288C18.6251 14.3075 18.7496 14.0075 18.75 13.6945V6.75C18.75 6.41848 18.6183 6.10054 18.3839 5.86612C18.1495 5.6317 17.8315 5.5 17.5 5.5ZM15 16.125H3.125V7.375H6.66641L9 9.125C9.10818 9.20614 9.23977 9.25 9.375 9.25H15V16.125ZM17.5 13.625H16.25V9.25C16.25 8.91848 16.1183 8.60054 15.8839 8.36612C15.6495 8.1317 15.3315 8 15 8H9.58359L7.41641 6.375C7.19972 6.21332 6.93676 6.12567 6.66641 6.125H5.625V4.875H9.16641L11.5 6.625C11.6082 6.70614 11.7398 6.75 11.875 6.75H17.5V13.625Z' fill='%23343330'/%3E%3C/svg%3E%0A");
                }
                &.nav.open{
                    mask-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cpath opacity='0.2' d='M16.25 7.375V9.25H5.45078C5.3196 9.24999 5.19174 9.29126 5.08532 9.36796C4.97889 9.44465 4.8993 9.55289 4.85781 9.67734L2.5 16.75V5.5C2.5 5.33424 2.56585 5.17527 2.68306 5.05806C2.80027 4.94085 2.95924 4.875 3.125 4.875H7.29141C7.42664 4.875 7.55822 4.91886 7.66641 5L10 6.75H15.625C15.7908 6.75 15.9497 6.81585 16.0669 6.93306C16.1842 7.05027 16.25 7.20924 16.25 7.375Z' fill='%23343330'/%3E%3Cpath d='M19.1406 9.14375C19.0246 8.98292 18.872 8.852 18.6954 8.7618C18.5188 8.6716 18.3233 8.62471 18.125 8.625H16.875V7.375C16.875 7.04348 16.7433 6.72554 16.5089 6.49112C16.2745 6.2567 15.9565 6.125 15.625 6.125H10.2086L8.04219 4.5C7.82545 4.33842 7.56252 4.25078 7.29219 4.25H3.125C2.79348 4.25 2.47554 4.3817 2.24112 4.61612C2.0067 4.85054 1.875 5.16848 1.875 5.5V16.75C1.875 16.9158 1.94085 17.0747 2.05806 17.1919C2.17527 17.3092 2.33424 17.375 2.5 17.375H16.4922C16.6234 17.375 16.7512 17.3337 16.8577 17.257C16.9641 17.1803 17.0437 17.0721 17.0852 16.9477L19.3109 10.2703C19.3735 10.0824 19.3907 9.88238 19.3611 9.68657C19.3315 9.49076 19.256 9.30474 19.1406 9.14375ZM7.29219 5.5L9.625 7.25C9.73318 7.33114 9.86477 7.375 10 7.375H15.625V8.625H5.45078C5.18842 8.62498 4.9327 8.70752 4.71985 8.86091C4.507 9.01431 4.34782 9.23079 4.26484 9.47969L3.125 12.8984V5.5H7.29219ZM16.0422 16.125H3.36719L5.45078 9.875H18.125L16.0422 16.125Z' fill='%23343330'/%3E%3C/g%3E%3C/svg%3E%0A");
                }
                &.nav-sub {
                    //background-color: transparent;
                    //background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.88867' y='2' width='14.2222' height='16' rx='3' fill='url(%23paint0_linear_2045_415)'/%3E%3Cg filter='url(%23filter0_d_2045_415)'%3E%3Cpath d='M6.5 6.53845H14' stroke='white' stroke-width='1.15385' stroke-linecap='round'/%3E%3Cpath d='M6.5 10H14' stroke='white' stroke-width='1.15385' stroke-linecap='round'/%3E%3Cpath d='M6.5 13.4615H14' stroke='white' stroke-width='1.15385' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_2045_415' x='4.92285' y='5.46155' width='10.6543' height='10.0769' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.5'/%3E%3CfeGaussianBlur stdDeviation='0.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2045_415'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2045_415' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_2045_415' x1='9.99978' y1='2' x2='9.99978' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%236EA6FF'/%3E%3Cstop offset='0.8' stop-color='%230461FD'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
                    mask-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M16.25 6.125V14.875C16.25 15.0408 16.1842 15.1997 16.0669 15.3169C15.9497 15.4342 15.7908 15.5 15.625 15.5H13.75V8.625L10.625 5.5H6.25V3.625C6.25 3.45924 6.31585 3.30027 6.43306 3.18306C6.55027 3.06585 6.70924 3 6.875 3H13.125L16.25 6.125Z' fill='%23343330'/%3E%3Cpath d='M16.6922 5.68281L13.5672 2.55781C13.5091 2.49979 13.4402 2.45378 13.3643 2.42241C13.2884 2.39105 13.2071 2.37494 13.125 2.375H6.875C6.54348 2.375 6.22554 2.5067 5.99112 2.74112C5.7567 2.97554 5.625 3.29348 5.625 3.625V4.875H4.375C4.04348 4.875 3.72554 5.0067 3.49112 5.24112C3.2567 5.47554 3.125 5.79348 3.125 6.125V17.375C3.125 17.7065 3.2567 18.0245 3.49112 18.2589C3.72554 18.4933 4.04348 18.625 4.375 18.625H13.125C13.4565 18.625 13.7745 18.4933 14.0089 18.2589C14.2433 18.0245 14.375 17.7065 14.375 17.375V16.125H15.625C15.9565 16.125 16.2745 15.9933 16.5089 15.7589C16.7433 15.5245 16.875 15.2065 16.875 14.875V6.125C16.8751 6.0429 16.859 5.96159 16.8276 5.88572C16.7962 5.80985 16.7502 5.7409 16.6922 5.68281ZM13.125 17.375H4.375V6.125H10.3664L13.125 8.88359V15.4875C13.125 15.4922 13.125 15.4961 13.125 15.5C13.125 15.5039 13.125 15.5078 13.125 15.5125V17.375ZM15.625 14.875H14.375V8.625C14.3751 8.5429 14.359 8.46159 14.3276 8.38572C14.2962 8.30985 14.2502 8.2409 14.1922 8.18281L11.0672 5.05781C11.0091 4.99979 10.9402 4.95378 10.8643 4.92241C10.7884 4.89105 10.7071 4.87494 10.625 4.875H6.875V3.625H12.8664L15.625 6.38359V14.875ZM11.25 12.375C11.25 12.5408 11.1842 12.6997 11.0669 12.8169C10.9497 12.9342 10.7908 13 10.625 13H6.875C6.70924 13 6.55027 12.9342 6.43306 12.8169C6.31585 12.6997 6.25 12.5408 6.25 12.375C6.25 12.2092 6.31585 12.0503 6.43306 11.9331C6.55027 11.8158 6.70924 11.75 6.875 11.75H10.625C10.7908 11.75 10.9497 11.8158 11.0669 11.9331C11.1842 12.0503 11.25 12.2092 11.25 12.375ZM11.25 14.875C11.25 15.0408 11.1842 15.1997 11.0669 15.3169C10.9497 15.4342 10.7908 15.5 10.625 15.5H6.875C6.70924 15.5 6.55027 15.4342 6.43306 15.3169C6.31585 15.1997 6.25 15.0408 6.25 14.875C6.25 14.7092 6.31585 14.5503 6.43306 14.4331C6.55027 14.3158 6.70924 14.25 6.875 14.25H10.625C10.7908 14.25 10.9497 14.3158 11.0669 14.4331C11.1842 14.5503 11.25 14.7092 11.25 14.875Z' fill='%23343330'/%3E%3C/svg%3E%0A");
                }
                &.toggle {
                    margin-left:auto;
                    width:rem(16);
                    height:rem(16);
                    background-color: rgba(52,51,48, 0.7);
                    mask-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cpath d='M13.3537 6.85375L8.35366 11.8538C8.30722 11.9002 8.25207 11.9371 8.19138 11.9623C8.13068 11.9874 8.06561 12.0004 7.99991 12.0004C7.9342 12.0004 7.86913 11.9874 7.80844 11.9623C7.74774 11.9371 7.69259 11.9002 7.64616 11.8538L2.64616 6.85375C2.57615 6.78382 2.52847 6.6947 2.50914 6.59765C2.48982 6.50061 2.49972 6.40002 2.53759 6.3086C2.57547 6.21719 2.63962 6.13908 2.72191 6.08414C2.80421 6.0292 2.90096 5.99992 2.99991 6H12.9999C13.0989 5.99992 13.1956 6.0292 13.2779 6.08414C13.3602 6.13908 13.4243 6.21719 13.4622 6.3086C13.5001 6.40002 13.51 6.50061 13.4907 6.59765C13.4713 6.6947 13.4237 6.78382 13.3537 6.85375Z' fill='%23343330'/%3E%3C/g%3E%3C/svg%3E%0A");
                }
            }
            &:hover {
                color:$primary;
            }
            &.active {
                background-color: rgba(37,99,235,0.1);

                .ico:not(.toggle){
                    background-color: $primary;
                }
            }
        }
        .sub-items{
            padding-left:rem(26);
            .link-items{
                color:rgba(0, 0, 0, 0.5);
                &.active {
                    color:$primary;
                    background-color: transparent;
                    
                }
                &:not(.active):hover {
                    color:$black;
                }
            }
        }
    }

}

.toggle-sidebar {
    padding: 0 rem(15);
    height: $header-height;
    background-color: rgb(37,99,235);
    .ico {
        background-color: $white;
        //background-color: $primary;
    }
}